/* NAVBAR */

.navbar {
  min-height: 11vh;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, 0.5);
}

.fa-circle-notch {
  color: #ffa500;
}

.fa-shopping-cart {
  font-size: 1.2em;
  border-radius: 50%;
  padding: 15px;
  background: #ffa500;
  box-shadow: 0.2em 0.2em #eee;
}

.fa-shopping-cart:hover {
  background-color: #ee9a00;
}

.shopping-cart:active .fa-shopping-cart {
  transform: translate(0.1em, 0.1em);
}

/* MAIN */

main {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../images/hero-image.jpg) center center no-repeat;
  height: 89vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FOOD ITEMS */

.food-items {
  display: flex;
  width: 63em;
}

.food-items .food-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25em;
  width: 15em;
  border-radius: 5px;
  margin-right: 1em;
  transition: opacity 0.2s;
}

.food-box .food-item {
  height: 90%;
  width: 98%;
  background-color: #f8f9fa;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: height 0.2s;
}

.food-item .food-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 0.5em 0.5em 0.5em;
  flex-grow: 1;
  justify-content: center;
}

.food-item .food-price {
  display: flex;
  font-size: 1.2em;
  padding: 0.5em;
  width: 100%;
  justify-content: center;
  margin-bottom: 0.1em;
  box-shadow: 0em 0.1em #eee;
}

.food-price .price-symbol,
.food-price .price-cent {
  font-size: 0.8em;
}

.food-item .food-img {
  border-bottom: 1px solid #eee;
  background-color: #fff;
}

.food-item .food-img img {
  width: 100%;
  height: auto;
  box-shadow: 0px 1px #eee;
}

.food-info .food-name {
  text-align: center;
  margin-bottom: 0.3em;
  font-size: 0.9em;
}

.food-info .add-cart {
  display: flex;
  justify-content: center;
}

.add-cart input {
  width: 4em;
  margin-right: 0.5em;
}

.food-box .middle {
  height: 100%;
  width: 100%;
}

.food-items .food-box:last-child {
  margin-right: 0px;
}

.food-items .food-item img {
  width: 100%;
}

/* ARROWS */

.arrow-box {
  padding: 35px;
  position: relative;
}

.fa-chevron-left,
.fa-chevron-right {
  font-size: 2.5em;
  color: #fff;
  cursor: pointer;
  transition: font-size 0.2s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fa-chevron-left:hover,
.fa-chevron-right:hover {
  font-size: 3.2em;
}

.fa-chevron-left::after,
.fa-chevron-right::after {
  content: "";
  display: block;
  padding-top: 8px;
  border-bottom: 2px solid #fff;
  width: 0%;
  transition: width 0.5s;
}

.fa-chevron-left:hover::after,
.fa-chevron-right:hover::after {
  width: 100%;
}

/* OVERLAY */

.overlay {
  display: none;
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 89vh;
  width: 100%;
  background-color: #000;
  transition: opacity 0.2s;
}

/* SHOPPING CART */

.side-cart {
  position: fixed;
  bottom: 0;
  right: 0;
  background: #f8f9fa;
  border-top: 1px solid #e7e8ea;
  height: 89vh;
  width: 25em;
  display: flex;
  transform: translateX(100%);
  transition: transform 0.2s;
  padding: 20px;
}

.side-cart .fa-times {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5em 0.7em 0 0;
  color: #ffa500;
  font-size: 2em;
  cursor: pointer;
}
